.app {
  text-align: center;
}

.app_header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app_action {
  color: #61dafb;
  margin-bottom: 1rem;
  text-decoration: underline;
  cursor: pointer;
}